/** @format */
// _variables.scss

// Light Theme Variables
$primary-color-light: #95d5b2;
$secondary-color-light: #b7e4c7;
$background-color-light: #d8f3dc;
$text-color-light: #74c69d;

// Dark Theme Variables
$primary-color-dark: #40916c;
$secondary-color-dark: #1b4332;
$background-color-dark: #081c15;
$text-color-dark: #40916c;
